/* colori
    blu:#0084FD
    celeste:#B5DDFF
    viola:#9792E4
    arancione:#FDC15F
    nero:#333333
*/

/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "PT Sans", sans-serif;
}

img{
    max-width:100%;
}

/* GENERAL */
.container{
    max-width:1000px;
    margin:0 auto;
}

.btn{
    background-color:white;
    color:black;
    border-radius:13px;
    margin-right:10px;
}

section{
    padding:40px 0;
}

.bg-lightblue{
    background-color:#B5DDFF;
}

.blue{
    color:#0084FD
}

.bg-blue{
    background-color:#0084FD
}

.grey{
    color:#5B6F7F
}
.bg-purple{
    background-color:#9792E4
}
.purple{
    color:#9792E4;
}

.white{
    color:white;
}
.bg-white{
    background-color:white;
}

.bg-black{
    background-color:#333333
}
.orange{
    color:orange;
}
/* HEADER */

header{
    max-width:100%;
}
.hdr-container{
    display:flex;
    justify-content:space-between;
    color:white;
    align-items:center;

}

.hdr-container > nav ul{
    list-style: none;
}
.hdr-container > nav ul li{
    display:inline-block;
}
a{
    color:white;
    padding: 5px 10px;
    text-decoration:none;
    display:inline-block;
}

.logo{
    margin-left:10px;
}

.desktop-menu{
    display:none;
}

.btn{
    padding:4px 30px;
}

/* MAIN */
.row{
    display:flex;
    flex-wrap:wrap;
}

.col{
    width:100%;
    margin-bottom:10px;
    display:flex;
    flex-wrap:wrap;
}

.card{
    padding:20px;
    border-radius:20px;
    margin:0 10px;
    width:100%;
}


.card > *{
    line-height:2rem;    
}

h3{
    margin-bottom:20px;
}

/* Sezione info */

.inner-card{
    position:relative;
}

.inner-card > img{
    max-height:300px;
    position:relative;
    bottom:-30px;
    left:0;
}



.info .btn.bg-blue.white{
    color:white;
}

.tablet-col-1-3 .card{
    text-align:center;
}
.card > i{
    margin-bottom:20px;

}

.info .card{
    font-weight:900
}

/* fine sezione info  */
/* sezione plannings */

.planning img{
    margin-top:100px;
    width:100%;
}

.planning h2{
    font-size:3rem;
    margin:40px 0px;
}

.planning h3{
    font-size:2rem;
}

.planning .container > *{
    line-height:2rem;
    margin: 0 10px;
}

.planning .card {
    background-color:white;
    margin:50px 0;
    text-align:center;
}

.btn.bg-purple.round-btn{
    display:inline-block;
    border-radius:50%;
    width:50px;
    height:50px;
    line-height:50px;
    padding:0;
    color:black; 
}

/* fine sezione plannings */

/* sezione testimonials */
.title{
    text-align:center;
}
.title > *{
    margin-bottom:20px;
 }

.title h2{
    font-size:2.5rem;
}
.profile-pic{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}
.testimonials .card{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.left-card{
    width:100%;
    text-align:center;
}

.right-card{
    width:100%;
    text-align:center;
}
/* fine sezione testimonials */

/* sezione benefits */
.benefits h2.white{
    font-size:2.5rem;
    text-align:center;
    margin-bottom:20px;
}
.benefits h2.purple{
    font-size:4rem;
    margin-bottom:20px;
    margin-top:20px;
}
.benefits h3.purple{
    font-size:2rem;
    margin-bottom:20px;
}
.benefits .btn.bg-purple{
    display:inline-block;
    font-weight:900;
    color:white;
}
/* fine sezione benefits */

/* sezione about us */
.abt-us .col,
.abt-us .col{
    padding:30px;
}
.abt-us .col h2{
    font-size:3.5rem;
}
.abt-us .col p{
    margin-bottom:20px;
    line-height:2rem;
    font-size:1.2rem;
}

#profile-abt-us{
    position:relative;
}

#quote{
    position:absolute;
    top:0;
    right:0;
}

.abt-us p.purple{
    font-size:1.6rem;
    font-weight:700;
}


/* sezione about us */
/* FOOTER */
.ftr-top,
.ftr-bottom{
    text-align:center;
    width:100%;
    display:flex;
    flex-wrap:wrap; 
}

.ftr-top{
    padding:50px 0;
    justify-content:center;
}

.ftr-top >*:not(.btn){
    width:100%;
    margin-bottom:30px
}

.ftr-top h3{
    font-size:2.5rem;
}
.ftr-top h2{
    font-size:4.5rem;
    padding-bottom:20px;
}

.ftr-bottom{
    min-height:200px;
    align-content:space-between;
}
.ftr-bottom > p{
    width:100%;
    margin-top:40px;
    margin-bottom:40px;
}
.ftr-top > .btn.bg-white.purple{
    display:inline-block;
    padding:20px 50px;
    border-radius:50px;
    font-size:1.5rem;
    font-weight:900;
    margin-bottom:20px;
}

/* RESPONSIVE */

@media screen and (min-width:576px){
    .tablet-col-1-3{
        width:calc(100% / 3);     
    }

    .tablet-col-2-3{
        width:calc((100% / 3) * 2);
    }
    /* testimonials */
    .left-card{
        max-width:200px;
        text-align:left;
    }
    
    .right-card{
        width:calc(100% - 220px);
        margin-left:20px;
        text-align:left;
    }
    /* fine testimonials */
    /* sezione benefits */
    .tablet-col-50{
        width:50%;
    }

    /* fine sezione benefits */
    /* sezione about us */
    
    .left-col{
        width:calc(60% - 20px);
        margin-right:20px;
    }
    .right-col{
        width:40%;;
        align-items:flex-end;
    }
}

@media screen and (min-width:992px){

    .mobile-menu{
        display:none;
    }
    .desktop-menu{
        display:block;
    }

    .inner-card{
        width:calc((100% / 2) - 40px);
        display:inline-block;
    }
    /* planning */
    .planning .container{
        padding:0 100px;
    }

    .desktop-col-1-2{
        width:50%;
        display:flex;
        flex-wrap:wrap;
        align-items:flex-end;
    }
    .planning .card{
        margin-left:20px;
        margin-bottom:0;
    }
    .planning .card img{
        margin-top:0;
        max-width:50%;;
    }
    /* fine planning */

        /* sezione benefits */

    .desktop-col-1-3{
        width:calc(100% / 3)
    }
    
    /* fine sezione benefits */

}
