/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "Roboto", sans-serif;
}

/* colori
    blu:#0084FD
    celeste:#B5DDFF
    viola:#9792E4
    arancione:#FDC15F
    nero:#333333


*/